body {
  background-color: lightskyblue;
  }
  /*Hiermee geef ik de achtergrond kleur van mijn website aan*/
  h1 {
    color: white;
    text-align: center;
    text-decoration-line: underline;
  }
  /*Hiermee geef ik de letterkleur, plaats en een lijn onder de titel aan*/
  p {
    font-family: Arial;
    font-size: medium;
  }
  /*Hiermee geef ik de lettertype en lettergrote aan van mijn tekst*/
  ul
  a:link, a:visited {
    background-color:rgb(5, 111, 249);
    color: black;
    padding: 14px 16px;
    width: 215px;
    text-align: center;
    text-decoration: none;
    display:block;
  }
  /*Hiermee geef ik de lay-out van mijn menu aan, knopkleur, tekstkleur, grootte, tekstplek*/
  a:hover, a:active {
    background-color:rgb(5, 111, 249);
  }
  /*Hiermee geef ik de achtergrondkleur van mijn menu aan*/


  .footer {
    background-color:rgb(5, 111, 249);
    padding: 3px;
    color: white;
    text-align: center;
 }
 /*Hiermee geef ik mijn footer aan*/
  
  
  li a {
    display: block;
    color: rgb(5, 111, 249);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  /*Hiermee geef ik de lay-out van mijn link naar een video aan*/

  li a:hover:not(.active) {
    background-color: lightskyblue;
  }
  /*Hiermee geef ik mijn knoppenkleur aan als je over de knop beweegt*/
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: widht 150px;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: blue;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: blue;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: lightskyblue;
  min-width: 150px;
  box-shadow: 0px 15px 25px 0px rgba(0,0,0,0.2);
  z-index: 10;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: lightskyblue;
}

.dropdown:hover .dropdown-content {
  position: relative;
  display: block;
}

  
  
  
  
  
