body {
  background-color: lightskyblue;
  }
  /*Hiermee geef ik de achtergrond kleur van mijn website aan*/
  h1 {
    color: white;
    text-align: center;
    text-decoration-line: underline;
  }
  /*Hiermee geef ik de letterkleur, plaats en een lijn onder de titel aan*/
  p {
    font-family: Arial;
    font-size: medium;
  }
  /*Hiermee geef ik de lettertype en lettergrote aan van mijn tekst*/
  ul
  a:link, a:visited {
    background-color:rgb(5, 111, 249);
    color: black;
    padding: 14px 16px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  /*Hiermee geef ik de lay-out van mijn menu aan, knopkleur, tekstkleur, grootte, tekstplek*/
  a:hover, a:active {
    background-color:rgb(2, 1, 1);
  }
  /*Hiermee geef ik de achtergrondkleur van mijn menu aan*/

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 7);
  } 

  li {
    float: left;
  }
  /*Hiermee geef ik aan dat mijn menuknoppen links aan elkaar staan*/

  .footer {
    background-color: lightskyblue;
    padding: 3px;
    color: white;
    text-align: center;
 }
 /*Hiermee geef ik mijn footer aan*/
  
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover:not(.active) {
    background-color: lightskyblue;
  }
  /*Hiermee geef ik mijn knoppenkleur aan als je over de knop beweegt*/
  
  
  
  
  